<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.helenacastrosws.miwokapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.presentation.view.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".numbers.presentation.view.ui.activity.NumbersActivity"
            android:label="@string/category_numbers"
            android:parentActivityName=".main.presentation.view.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.presentation.view.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".family.presentation.view.ui.activity.FamilyActivity"
            android:label="@string/category_family"
            android:parentActivityName=".main.presentation.view.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.presentation.view.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".colors.presentation.view.ui.activity.ColorsActivity"
            android:label="@string/category_colors"
            android:parentActivityName=".main.presentation.view.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.presentation.view.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".phrases.presentation.view.ui.activity.PhrasesActivity"
            android:label="@string/category_phrases"
            android:parentActivityName=".main.presentation.view.ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.presentation.view.ui.activity.MainActivity" />
        </activity>
    </application>

</manifest>